*,
*::before,
*::after {
  box-sizing: border-box;
}

.link {
  text-decoration: none;
}

ol,
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  /* padding-left: 0; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.modal-toggle {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

.section-layout {
  padding-top: 50px;
  padding-bottom: 50px;
}

.accent-color {
  color: var(--iris);
}

.accent-color-error {
  color: var(--red);
}