.header-page {
  width: 100%;
  background-color: var(--white);
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.site-navigation {
  display: flex;
  justify-content: flex-start;
  column-gap: 40px;
}

.site-navigation-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.site-navigation-item-link {
  cursor: pointer;
  display: block;
  color: var(--navyblue);
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-navigation-item-link:hover,
.site-navigation-item-link:focus {
  color: var(--ocean);
}

.title-home {
  display: block;
  font-size: 46px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.name-stud {
  display: block;
  font-size: 24px;
  font-weight: 600;
  color: #2e2f42;
}

.home-page-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
