.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.8);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-backdrop.is-open {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
  
  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    min-width: 1112px;
    min-height: 640px;
    width: auto;
    height: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    padding: 0;
    background-color: var(--body-bgr-color);
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .close-icon {
    fill: var(---body-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .close-button:hover .close-icon,
  .close-button:focus .close-icon {
    fill: var(--body-bgr-color);
  }
  
  .close-button:hover,
  .close-button:focus {
    background-color: var(--button-accent-bgr-color);
  }
  .modal-image {
    width: 1112px;
    height: 640px;
    /* width: auto;
    height: auto; */
  }
  
  .modal img {
    min-width: 1112px;
    min-height: 640px;
    width: auto;
    height: auto;
  }
  
  .close-button {
    display: none;
  }
  