.button-styles {
  cursor: pointer;
  background-color: var(--iris);
  color: var(--white);
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.02em;

  border-radius: 8px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 18px;
  padding-right: 18px;
  min-width: 120px;
  height: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-styles:hover,
.button-styles:focus {
  background-color: var(--ocean);
}

.form-transaction-wrapper {
  display: flex;
  row-gap: 16px;
  flex-direction: column;
  width: 560px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.08);
}

.inputs-wrapper {
  display: flex;
  column-gap: 20px;
}

.label-style {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.label-style-result{
  display: flex; 
  row-gap: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.input-style {
  width: 250px;
  height: 40px;
  padding-left: 16px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #bdbdbd;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 16px;
}

.buttons-wrapper {
  margin-right: 0;
  margin-left: auto;
  display: flex;
  column-gap: 20px;
}

.form-shipping-wrapper {
  display: flex;
  row-gap: 16px;
  flex-direction: column;
  width: 840px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.08);
}

.form-width-wrapper {
  display: flex;
  row-gap: 16px;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.08);
}

.inputs-form3-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
