<section class="section-layout">
    <div class="container">
      <h2 class="visually-hidden">Test of Task-2 Module-2</h2>

      <form class="form-message-wrapper">
        <div class="inputs-message-wrapper">
          <label class="label-style" for="example-message">
            Example message:
          </label>
          <textarea
            class="textarea-style"
            name="example_message"
            id="example-message"
            placeholder="Please enter message"
            required
          ></textarea>

          <label class="label-style" for="length-msg"
            >Message lentgh:
            <input
              class="input-style"
              name="length_msg"
              id="length-msg"
              type="text"
              placeholder="Please enter number"
              required
            />
          </label>
        </div>

        <label class="label-style-result"
          >Reduced message:&nbsp;
          <span class="js-reduced-message accent-color"></span>
        </label>

        <div class="buttons-wrapper">
          <button class="button-styles js-get-massage" type="button">
            Get reduced message
          </button>
          <button class="button-styles js-btn-clear-message" type="button">
            Clear
          </button>
        </div>
      </form>
    </div>
  </section>