<section class="section-layout">
    <div class="container">
      <h2 class="visually-hidden">Test of Task-2 Module-3</h2>

      <form class="form-country-shipping-wrapper">
        <div class="inputs-message-wrapper">
          <label class="label-style" for="select-country">Select coutry:</label>
          <select class="input-style" id="select-country" name="country">
            <option value="China">China</option>
            <option value="Chile">Chile</option>
            <option value="Australia">Australia</option>
            <option value="Jamaica">Jamaica</option>
            <option value="Sweden">Sweden</option>
            <option value="Germany">Germany</option>
          </select>           
        </div>

        <label class="label-style-result"
          >Shipping cost:&nbsp;
          <span class="js-shipping-cost accent-color"></span>
        </label>
      </form>
    </div>
  </section>