<section class="section-layout">
    <div class="container">
      <h2 class="visually-hidden">Test of Task-2 Module-3</h2>

      <form class="form-message-wrapper">
        <div class="inputs-message-wrapper">
          <label class="label-style" for="spam-message">
            Example message:
          </label>
          <textarea
            class="textarea-style"
            name="spam_message"
            id="spam-message"
            placeholder="Please enter message"
            required
          ></textarea>            
        </div>

        <label class="label-style-result"
          >Result:&nbsp;
          <span class="js-spam-message accent-color"></span>
        </label>

        <div class="buttons-wrapper">
          <button class="button-styles js-check-massage" type="button">
            Check message
          </button>
          <button class="button-styles js-btn-clear-spam-message" type="button">
            Clear
          </button>
        </div>
      </form>
    </div>
  </section>