<section class="section-layout">
  <div class="container">
    <h2 class="visually-hidden">Test of Task-1</h2>

    <form class="form-transaction-wrapper">
      <div class="inputs-wrapper">
        <label class="label-style" for="droids-quantity2"
          >Droids quantity:
          <input
            class="input-style"
            name="droids-quantity2"
            id="droids-quantity2"
            type="text"
            placeholder="Please enter integer number"
            required
          />
        </label>
        <label class="label-style" for="droid-price2"
          >Droid price:
          <input
            class="input-style"
            name="droid-price2"
            id="droid-price2"
            type="text"
            placeholder="Please enter number"
            required
          />
        </label>
      </div>

      <label class="label-style" for="customer-credits"
        >Customer credits:
        <input
          class="input-style"
          name="customer-credits"
          id="customer-credits"
          type="text"
          placeholder="Please enter number"
          required
        />
      </label>

      <label class="label-style-result">Result:&nbsp;<span class="accent-color js-result-transaction2"></span> </label>
      <div class="buttons-wrapper">
        <button class="button-styles js-make-transaction2" type="button">
          Make Transaction
        </button>
        <button class="button-styles js-btn-clear2" type="button">
          Clear
        </button>
      </div>
    </form>
  </div>
</section>