<section class="section-layout">
  <div class="container">
    <h2 class="visually-hidden">Test of task-3</h2>

    <form class="form-width-wrapper">
      <div class="inputs-form3-wrapper">
        <label class="label-style" for="content"
          >Content:
          <input
            class="input-style"
            name="content"
            id="content"
            type="text"
            required
          />
        </label>
        <label class="label-style" for="padding"
          >Padding:
          <input
            class="input-style"
            name="shipping-price"
            id="padding"
            type="text"
            required
          />
        </label>
        <label class="label-style" for="border"
          >Border:
          <input
            class="input-style"
            name="border"
            id="border"
            type="text"
            required
          />
        </label>
      </div>
      <label class="label-style-result">Result:&nbsp;<span class="accent-color js-width-result"></span></label>
      <div class="buttons-wrapper">
        <button class="button-styles js-btn-width" type="button">
          Width
        </button>
        <button class="button-styles js-width-clear" type="button">
          Clear
        </button>
      </div>
    </form>
  </div>
</section>