<section class="section-layout">
  <div class="container">
    <h2 class="visually-hidden">Test of Task-1</h2>

    <form class="form-transaction-wrapper">
      <div class="inputs-wrapper">
        <label class="label-style" for="droids-quantity"
          >Droids quantity:
          <input
            class="input-style"
            name="droids-quantity"
            id="droids-quantity"
            type="text"
            placeholder="Please enter integer number"
            required
          />
        </label>
        <label class="label-style" for="droid-price"
          >Droid price:
          <input
            class="input-style"
            name="droid-price"
            id="droid-price"
            type="text"
            placeholder="Please enter number"
            required
          />
        </label>
      </div>
      <label class="label-style-result">Result:&nbsp;<span class="accent-color js-result-transaction"></span></label>
      <div class="buttons-wrapper">
        <button class="button-styles js-make-transaction" type="button">
          Make Transaction
        </button>
        <button class="button-styles js-btn-clear" type="button">
          Clear
        </button>
      </div>
    </form>
  </div>
</section>