<section class="section-layout">
  <div class="container">
    <h2 class="visually-hidden">Test of task-2</h2>

    <form class="form-shipping-wrapper">
      <div class="inputs-wrapper">
        <label class="label-style" for="shipping-country"
          >Country:
          <input
            class="input-style"
            name="shipping-country"
            id="shipping-country"
            type="text"
            required
          />
        </label>
        <label class="label-style" for="shipping-price"
          >Price:
          <input
            class="input-style"
            name="shipping-price"
            id="shipping-price"
            type="text"
            required
          />
        </label>
        <label class="label-style" for="shipping-fee"
          >Delivery Fee:
          <input
            class="input-style"
            name="shipping-fee"
            id="shipping-fee"
            type="text"
            required
          />
        </label>
      </div>
      <label class="label-style-result">Result:&nbsp;<span class=" accent-color js-shiping-result"></span></label>
      <div class="buttons-wrapper">
        <button class="button-styles js-btn-shiping" type="button">
          Shipping
        </button>
        <button class="button-styles js-shiping-clear" type="button">
          Clear
        </button>
      </div>
    </form>
  </div>
</section>