<header class="header-page">
  <div class="container">
    <nav></nav>
    <ul class="site-navigation">
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./index.html">Home</a>
      </li>
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./task-7-1.html"
          >task1 - List</a
        >
      </li>
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./task-7-2-1.html"
          >task2 Gallery-1</a
        >
      </li>
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./task-7-2.html"
          >task2 - Gallery-2</a
        >
      </li>
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./task-7-3.html"
          >task3 - Greeting</a
        >
      </li>
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./task-7-4.html"
          >task4 - Login</a
        >
      </li>
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./task-7-5.html"
          >task5 - BgrColor</a
        >
      </li>
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./task-7-6.html"
          >task6 - DOM elements</a
        >
      </li>
    </ul>
  </nav>
  </div>
</header>
