<!-- ===================Modal backdrop =========================-->
<div class="modal-backdrop" id="id-modal-backdrop">
  <div class="modal-window">
    <button class="close-button" type="button" id="id-close-button">
      <svg class="close-icon" width="8" height="8">
        <use href="./img/icons.svg#close-form"></use>
      </svg>
    </button>
    <img id="modal-image" class="modal-content" src="" alt="" />
    <div class="slider-container">
      <div class="slider-dots"></div>
      <div class="buttons-slider">
        <button id="prevBtn">Previous</button>
        <button id="nextBtn">Next</button>
      </div>
    </div>
  </div>
</div>
<!-- ===================Modal backdrop =========================-->
